@import url(styles/header.css);
@import url(styles/grid.css);
:root{
    --cor-de-fundo: #e5e5e5;
    --branco: #FFFFFF;
    --amarelo:  #FECD2F;
    --roxo-degrade: 
    linear-gradient(94.49deg,  #000000 35.48%,  #000000 143.32%);

}
body{
    background-color: var(--cor-de-fundo);
}

footer {
    grid-row-start: 2;
  grid-row-end: 3;
  padding: 20px;
  height: 100px;
  margin-top: -50px;
}

.colegio {
    
    position: absolute;
    font-size: 50px;
    height: 100px;
    width: 1000px;
    left: 700px;
    top: 850px;
    
}

.carrofavo{
    position: absolute;
    top: 50px;
}
